<<<<<<< HEAD
:root {
    --header-height: 8rem;
    
    /* ======= Fuente y tipografía ======= */
    --body-font: 'Poppins', sans-serif;
    --big-font-size:2rem;
    --h1-font-size:1.5;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size:.938rem ;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;
}

*{
    padding: 0;
    margin: 0;
 }
 

ul{
    list-style: none;
 }

a{
    text-decoration: none;
 }


/* ========== NAV ========== */

.nav{

    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30343f;
 }

.nav__logo{
    height: 11rem;
}
.nav__list{
    grid-template-columns: repeat(5,6rem) ;
    gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--medium-font-size);
    color: #bfbfbf;
    font-weight: var(--font-medium);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav__link:hover{
border-radius: 2rem;
   bottom: 80px;
   background-color: #bfbfbf;
   color: black;
   box-shadow: 0 4px 8px rgba(0, 0, 0, .85); ;
}

.grid{
    display: grid;
align-items: center;
    
}
 @media screen and (max-width:767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left:0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;

    }
    
 }

 /* ------- INICIO -------*/
 .inicio__img{
    width: 100%;
=======
:root {
    --header-height: 8rem;
    
    /* ======= Fuente y tipografía ======= */
    --body-font: 'Poppins', sans-serif;
    --big-font-size:2rem;
    --h1-font-size:1.5;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size:.938rem ;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;
}

*{
    padding: 0;
    margin: 0;
 }
 

ul{
    list-style: none;
 }

a{
    text-decoration: none;
 }


/* ========== NAV ========== */

.nav{

    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30343f;
 }

.nav__logo{
    height: 11rem;
}
.nav__list{
    grid-template-columns: repeat(5,6rem) ;
    gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--medium-font-size);
    color: #bfbfbf;
    font-weight: var(--font-medium);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav__link:hover{
border-radius: 2rem;
   bottom: 80px;
   background-color: #bfbfbf;
   color: black;
   box-shadow: 0 4px 8px rgba(0, 0, 0, .85); ;
}

.grid{
    display: grid;
align-items: center;
    
}
 @media screen and (max-width:767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left:0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;

    }
    
 }

 /* ------- INICIO -------*/
 .inicio__img{
    width: 100%;
>>>>>>> e17c4a76a25733cd342582c6866b7e0daa337a51
 }